<%- include('partials/header') %>
<%- include('partials/modal') %>



<div id="background1">
    <div id="message">
      <h1>Gather & Grub</h1>
      <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#SignInForm">Login</a>
      <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#SignUpForm">Register</a>
  </div>
  </div>


<%- include('partials/footer')  %>