<%- include('partials/header') %>
<%- include('partials/modal') %>


<div class="about">
    <h1>Welcome!</h1>
    <br>
    <p>It's safe to say over the past two years we've grown to enjoy our get togethers a little more than we had in the past.  Gather & Grub was founded to take your potlucks and gatherings to the next level with simple treats even a novice can prepare!  </p>
</div>



<%- include('partials/footer') %>