nav {
    background-color: #74BDCB;
    
}

.nav-item {
    background-color: #EFE7BC;
    
}

.navbar-brand {
    background-color: white;
}

body {
    background-color: #EFE7BC;
}

footer {
    background-color: #FFA384;
}

.lead {
    background-color: white;
    color: black;
}

h1 {
    font-size: 55px;
    text-align: center;
}


/* .bg-image {
    background: url('assets/real.jpeg') no-repeat;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
} */

#background1 {
    background: url('img/backgrounds/background1.jpeg') center center no-repeat;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#message {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#message h1 {
    font-size: 54px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}