nav {
    background-color: #74BDCB;
    
}

.nav-item {
    background-color: #EFE7BC;
    
}

.navbar-brand {
    background-color: #EFE7BC;
}

html, body {
    background-color: #EFE7BC;
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: #FFA384;
}

.lead {
    background-color: #FFA384;
    color: grey;
}

h1 {
    font-size: 55px;
    text-align: center;
}


/* .bg-image {
    background: url('assets/real.jpeg') no-repeat;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
} */

#background1 {
    background: url('assets/real.jpeg') center center no-repeat;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
}

#message {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#message h1 {
    font-size: 84px;
    color: #EFE7BC;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke:  2px black;
    
}

.card {
    background-color: #FFA384;
}

.decisions {
    text-align: center;
}

.row {
    margin-top: 15px;
}

.card-body {
    text-align: center;
}